<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Innovations from Our Experts | Deriv Tech blog</title>
    <link rel="stylesheet" href="https://tech.deriv.com/assets/built/screen.css?v=f3d05890e7">

    <meta name="description" content="Explore Deriv&#x27;s tech blog for the latest technology in trading, keeping you ahead in the evolving tech landscape.">
    <link rel="icon" href="https://tech.deriv.com/content/images/size/w256h256/format/png/2023/05/02_DERIV_AVATAR_PRI_SQR_WHT.svg" type="image/png">
    <link rel="canonical" href="https://tech.deriv.com/">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="next" href="https://tech.deriv.com/page/2/">
    
    <meta property="og:site_name" content="Tech Innovations from Our Experts | Deriv Tech blog">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tech Innovations from Our Experts | Deriv Tech blog">
    <meta property="og:description" content="Explore Deriv&#x27;s tech blog for the latest technology in trading, keeping you ahead in the evolving tech landscape.">
    <meta property="og:url" content="https://tech.deriv.com/">
    <meta property="og:image" content="https://tech.deriv.com/content/images/size/w1200/2024/02/techbyderiv-logo-1.jpg">
    <meta property="article:publisher" content="https://www.facebook.com/derivdotcom/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tech Innovations from Our Experts | Deriv Tech blog">
    <meta name="twitter:description" content="Explore Deriv&#x27;s tech blog for the latest technology in trading, keeping you ahead in the evolving tech landscape.">
    <meta name="twitter:url" content="https://tech.deriv.com/">
    <meta name="twitter:image" content="https://tech.deriv.com/content/images/size/w1200/2024/02/techbyderiv-logo-1.jpg">
    <meta name="twitter:site" content="@Derivdotcom">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="482">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "publisher": {
        "@type": "Organization",
        "name": "Tech Innovations from Our Experts | Deriv Tech blog",
        "url": "https://tech.deriv.com/",
        "logo": {
            "@type": "ImageObject",
            "url": "https://tech.deriv.com/content/images/2024/01/deriv_tech_logo.svg"
        }
    },
    "url": "https://tech.deriv.com/",
    "image": {
        "@type": "ImageObject",
        "url": "https://tech.deriv.com/content/images/size/w1200/2024/02/techbyderiv-logo-1.jpg",
        "width": 1200,
        "height": 482
    },
    "mainEntityOfPage": "https://tech.deriv.com/",
    "description": "Explore Deriv&#x27;s tech blog for the latest technology in trading, keeping you ahead in the evolving tech landscape."
}
    </script>

    <meta name="generator" content="Ghost 5.86">
    <link rel="alternate" type="application/rss+xml" title="Tech Innovations from Our Experts | Deriv Tech blog" href="https://tech.deriv.com/rss/">
    
    <script defer src="https://cdn.jsdelivr.net/ghost/sodo-search@~1.1/umd/sodo-search.min.js" data-key="b291a878fccb58a7566dc0fc6a" data-styles="https://cdn.jsdelivr.net/ghost/sodo-search@~1.1/umd/main.css" data-sodo-search="https://tech-deriv.ghost.io/" crossorigin="anonymous"></script>
    
    <link href="https://tech.deriv.com/webmentions/receive/" rel="webmention">
    <script defer src="/public/cards.min.js?v=f3d05890e7"></script><style>:root {--ghost-accent-color: #0e0e0e;}</style>
    <link rel="stylesheet" type="text/css" href="/public/cards.min.css?v=f3d05890e7">
    <style type='text/css'>
    /* casper theme */
    .site-footer {
        padding-bottom: 0px;
        padding-top: 20px;
    }
    .post-card-tags { display: none }
    .site-footer.outer .inner {
        display: inherit;
    }
    .site-footer.outer .inner div:last-of-type {
   		display: none;
	}
    /* uncomment the below css if you use edition theme 
    .cover-content .cover-form { display: none; }
    .header-actions .members-login { display: none; }
    .site-footer .copyright { display: none; }
    .footer-nav .badge { display: none; }
    .footer-nav span.sep:last-of-type { display: none; }
    */
    .search {
      display: none;
    }
</style>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WKTL399PJE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WKTL399PJE');
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
</head>

<body class="home-template  is-head-left-logo">
<div class="site">

    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner gh-inner">
            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="https://tech.deriv.com">
                            <img src="https://tech.deriv.com/content/images/2024/01/deriv_tech_logo.svg" alt="Tech Innovations from Our Experts | Deriv Tech blog">
                    </a>
                </div>
                <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.5 17.5L12.5 12.5L17.5 17.5ZM14.1667 8.33333C14.1667 9.09938 14.0158 9.85792 13.7226 10.5657C13.4295 11.2734 12.9998 11.9164 12.4581 12.4581C11.9164 12.9998 11.2734 13.4295 10.5657 13.7226C9.85792 14.0158 9.09938 14.1667 8.33333 14.1667C7.56729 14.1667 6.80875 14.0158 6.10101 13.7226C5.39328 13.4295 4.75022 12.9998 4.20854 12.4581C3.66687 11.9164 3.23719 11.2734 2.94404 10.5657C2.65088 9.85792 2.5 9.09938 2.5 8.33333C2.5 6.78624 3.11458 5.30251 4.20854 4.20854C5.30251 3.11458 6.78624 2.5 8.33333 2.5C9.88043 2.5 11.3642 3.11458 12.4581 4.20854C13.5521 5.30251 14.1667 6.78624 14.1667 8.33333Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</button>
                <button class="gh-burger"></button>
            </div>

            <nav class="gh-head-menu">
                <ul class="nav">
    <li class="nav-about"><a href="https://tech.deriv.com/about/">About</a></li>
    <li class="nav-careers"><a href="https://deriv.com/careers/">Careers</a></li>
    <li class="nav-learning"><a href="https://tech.deriv.com/tag/tech-learning/">Learning</a></li>
    <li class="nav-events"><a href="https://tech.deriv.com/tag/tech-events/">Events</a></li>
</ul>

            </nav>

            <div class="gh-head-actions">
                        <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.5 17.5L12.5 12.5L17.5 17.5ZM14.1667 8.33333C14.1667 9.09938 14.0158 9.85792 13.7226 10.5657C13.4295 11.2734 12.9998 11.9164 12.4581 12.4581C11.9164 12.9998 11.2734 13.4295 10.5657 13.7226C9.85792 14.0158 9.09938 14.1667 8.33333 14.1667C7.56729 14.1667 6.80875 14.0158 6.10101 13.7226C5.39328 13.4295 4.75022 12.9998 4.20854 12.4581C3.66687 11.9164 3.23719 11.2734 2.94404 10.5657C2.65088 9.85792 2.5 9.09938 2.5 8.33333C2.5 6.78624 3.11458 5.30251 4.20854 4.20854C5.30251 3.11458 6.78624 2.5 8.33333 2.5C9.88043 2.5 11.3642 3.11458 12.4581 4.20854C13.5521 5.30251 14.1667 6.78624 14.1667 8.33333Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</button>
            </div>
        </div>
    </header>

    <div class="site-cover u-overlay">

            <img class="cover-image jarallax-img u-object-fit" src="images/techbyderiv-logo-1.jpg" alt="Tech Innovations from Our Experts | Deriv Tech blog">

        <div class="cover-content">
            <div class="search">
                <form class="search-form">
                    <div class="form-wrapper">
                        <div class="search-field" data-ghost-search>Search posts, tags, authors...</div>
                        <button class="form-button search-button" type="submit" data-ghost-search>
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.5 17.5L12.5 12.5L17.5 17.5ZM14.1667 8.33333C14.1667 9.09938 14.0158 9.85792 13.7226 10.5657C13.4295 11.2734 12.9998 11.9164 12.4581 12.4581C11.9164 12.9998 11.2734 13.4295 10.5657 13.7226C9.85792 14.0158 9.09938 14.1667 8.33333 14.1667C7.56729 14.1667 6.80875 14.0158 6.10101 13.7226C5.39328 13.4295 4.75022 12.9998 4.20854 12.4581C3.66687 11.9164 3.23719 11.2734 2.94404 10.5657C2.65088 9.85792 2.5 9.09938 2.5 8.33333C2.5 6.78624 3.11458 5.30251 4.20854 4.20854C5.30251 3.11458 6.78624 2.5 8.33333 2.5C9.88043 2.5 11.3642 3.11458 12.4581 4.20854C13.5521 5.30251 14.1667 6.78624 14.1667 8.33333Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="currentColor">
    <path d="M17.947 16l7.387 7.387v1.947h-1.947l-7.387-7.387-7.387 7.387h-1.947v-1.947l7.387-7.387-7.387-7.387v-1.947h1.947l7.387 7.387 7.387-7.387h1.947v1.947l-7.387 7.387z"></path>
</svg>                        </button>
                    </div>
                </form>
                <div class="search-result"></div>
            </div>
        </div>

    </div>

    <div class="site-content">
        
<div class="gh-outer">
<main class="site-main gh-inner">

            <section class="featured-wrapper">

        <header class="featured-header topic-header">
            <h2 class="featured-title topic-name">Featured</h2>
        </header>

        <div class="featured-posts owl">
            <article class="post tag-tech-events featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/deriv-shines-at-taylor-university-imagine-hack-2024/">
                            <img class="post-image u-object-fit" src="images/taylor-university-and-deriv-1.jpg" alt="Taylor&#x27;s University Imagine Hack Event">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/deriv-shines-at-taylor-university-imagine-hack-2024/">Taylor&#x27;s University Imagine Hack Event</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-events" href="/tag/tech-events/" title="Tech Events">Tech Events</a>

            </article>
            <article class="post tag-tech-events featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/uk-tech-talk-challenges-in-the-modern-tech-landscape/">
                            <img class="post-image u-object-fit" src="images/Deriv-UK-tech-talk.jpg" alt="UK tech talk: Navigating challenges in modern software development">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/uk-tech-talk-challenges-in-the-modern-tech-landscape/">UK tech talk: Navigating challenges in modern software development</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-events" href="/tag/tech-events/" title="Tech Events">Tech Events</a>

            </article>
            <article class="post tag-tech-learning featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/quill-the-building-blocks-of-derivs-ux-and-ui-design/">
                            <img class="post-image u-object-fit" src="images/a-large-detailed-feather-quill-in-the-center-surro-ve_iGLIkSGupZ9JUB4kbSA-fM_Imy4cQiWnkbjs7KVfvA.jpeg" alt="Quill: The building blocks of Deriv’s seamless UX and UI design">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/quill-the-building-blocks-of-derivs-ux-and-ui-design/">Quill: The building blocks of Deriv’s seamless UX and UI design</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-learning" href="/tag/tech-learning/" title="Tech Learning">Tech Learning</a>

            </article>
            <article class="post tag-tech-events featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/deriv-hosts-flutter-event-for-dev-community/">
                            <img class="post-image u-object-fit" src="images/deriv-and-flutter-team.jpg" alt="Deriv champions community-building futter event in the UAE">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/deriv-hosts-flutter-event-for-dev-community/">Deriv champions community-building futter event in the UAE</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-events" href="/tag/tech-events/" title="Tech Events">Tech Events</a>

            </article>
            <!-- <article class="post tag-tech-events featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/deriv-hosts-37th-aws-meetup-in-uae/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/05/AWSusermeet.jpg" alt="Deriv Dubai hosts the 37th AWS user group meetup">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/deriv-hosts-37th-aws-meetup-in-uae/">Deriv Dubai hosts the 37th AWS user group meetup</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-events" href="/tag/tech-events/" title="Tech Events">Tech Events</a>

            </article>
            <article class="post tag-tech-events featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/deriv-attends-the-accu-developer-conference/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/05/Accu-conference-x-deriv.jpg" alt="Deriv in the ACCU Developer Conference">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/deriv-attends-the-accu-developer-conference/">Deriv in the ACCU Developer Conference</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-events" href="/tag/tech-events/" title="Tech Events">Tech Events</a>

            </article>
            <article class="post tag-tech-events featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/deriv-talks-about-using-ai-at-nextech-conference/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/05/deriv-at-nextech-conference.jpg" alt="AI takes centre stage: Deriv’s NexTech showcase">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/deriv-talks-about-using-ai-at-nextech-conference/">AI takes centre stage: Deriv’s NexTech showcase</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-events" href="/tag/tech-events/" title="Tech Events">Tech Events</a>

            </article>
            <article class="post tag-tech-learning featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/about-chrome-extension-service-workers/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/05/Chrome_extension_service_workers.jpg" alt="The secret life of Chrome extension service-workers">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/about-chrome-extension-service-workers/">The secret life of Chrome extension service-workers</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-learning" href="/tag/tech-learning/" title="Tech Learning">Tech Learning</a>

            </article>
            <article class="post tag-tech-learning featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/cloud-protection-from-dangling-ip-takeovers/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/04/Cloud-protection-strategies-against-dangling-IPs.jpg" alt="Cloud protection strategies against dangling IP takeovers">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/cloud-protection-from-dangling-ip-takeovers/">Cloud protection strategies against dangling IP takeovers</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-learning" href="/tag/tech-learning/" title="Tech Learning">Tech Learning</a>

            </article>
            <article class="post tag-tech-learning featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/using-kubernetes-on-aws/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/03/Cloud-agnostic-Kubernetes-article.jpg" alt="Cloud-agnostic Kubernetes on AWS: A strategic guide">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/using-kubernetes-on-aws/">Cloud-agnostic Kubernetes on AWS: A strategic guide</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-learning" href="/tag/tech-learning/" title="Tech Learning">Tech Learning</a>

            </article>
            <article class="post tag-tech-learning featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/secret-scanning-in-source-code/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/03/illustration-of-secret-detection.png" alt="Improving secret scanning in source code management systems">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/secret-scanning-in-source-code/">Improving secret scanning in source code management systems</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-learning" href="/tag/tech-learning/" title="Tech Learning">Tech Learning</a>

            </article>
            <article class="post tag-spotlight featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/derivs-fintech-culture/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/03/In-conversation-with-Raunak_Pt-2.png" alt="Deriv’s Fintech Culture and Innovation">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/derivs-fintech-culture/">Deriv’s Fintech Culture and Innovation</a>
                    </h2>
                </header>

                    <a class="post-tag tag-spotlight" href="/tag/spotlight/" title="Spotlight">Spotlight</a>

            </article>
            <article class="post tag-spotlight featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/raunak-kathuria-fintech-career-path/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/03/In-conversation-with-Raunak_Pt-1.png" alt="Raunak Kathuria on the fintech career path at Deriv">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/raunak-kathuria-fintech-career-path/">Raunak Kathuria on the fintech career path at Deriv</a>
                    </h2>
                </header>

                    <a class="post-tag tag-spotlight" href="/tag/spotlight/" title="Spotlight">Spotlight</a>

            </article>
            <article class="post tag-tech-learning featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/websocket-debugging-chrome-extension/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/02/DALL-E-2024-02-21-18.47.59---Create-a-realistic-image-that-complements-an-article-on-WebSocket-debugging-using-Chrome-extensions.-The-image-should-be-in-a-16_9-proportion-and-prim-min--1-.png" alt="How to build and use Chrome extensions for WebSocket debugging">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/websocket-debugging-chrome-extension/">How to build and use Chrome extensions for WebSocket debugging</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-learning" href="/tag/tech-learning/" title="Tech Learning">Tech Learning</a>

            </article>
            <article class="post tag-tech-events featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/deriv-at-bits-pilani-dubai/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/02/DSC06285-copy-min--2-.jpg" alt="Fintech innovation meets ambition: Deriv at BITS Pilani - Dubai">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/deriv-at-bits-pilani-dubai/">Fintech innovation meets ambition: Deriv at BITS Pilani - Dubai</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-events" href="/tag/tech-events/" title="Tech Events">Tech Events</a>

            </article>
            <article class="post tag-tech-learning featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/dora-metrics-devops/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/02/DALL-E-2024-01-29-18.39.21---A-professional-16_9-image-with-a-white-and-slate-color-scheme--focused-on-the-concept-of-a-DevOps-performance-review-using-key-metrics--but-without-an.png" alt="Going beyond DORA metrics in DevOps performance assessment">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/dora-metrics-devops/">Going beyond DORA metrics in DevOps performance assessment</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-learning" href="/tag/tech-learning/" title="Tech Learning">Tech Learning</a>

            </article>
            <article class="post tag-tech-events featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/github-visit-deriv-dubai-office/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/01/DALL-E-2024-01-25-11.43.42---Generate-a-high-resolution-image-that-captures-the-essence-of-sophisticated-GitHub-technology.-The-design-should-prominently-feature-a-modern-programm.png" alt="GitHub visits Deriv Dubai, unveils the future of Copilot, Actions, and Advanced Security">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/github-visit-deriv-dubai-office/">GitHub visits Deriv Dubai, unveils the future of Copilot, Actions, and Advanced Security</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-events" href="/tag/tech-events/" title="Tech Events">Tech Events</a>

            </article>
            <article class="post tag-tech-events featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/34th-aws-user-group-dubai-deriv/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/01/DALL-E-2024-01-24-19.26.28---A-high-resolution-image-focusing-on-a-sophisticated-cloud-computing-concept--with-an-emphasis-on-red-highlights.-The-scene-features-a-modern-laptop-di.png" alt="Deriv Dubai hosts the 34th AWS User Group Meeting">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/34th-aws-user-group-dubai-deriv/">Deriv Dubai hosts the 34th AWS User Group Meeting</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-events" href="/tag/tech-events/" title="Tech Events">Tech Events</a>

            </article>
            <article class="post tag-tech-learning featured">

                <figure class="post-media">
                <div class="u-placeholder same-height horizontal">
                    <a class="post-image-link" href="/trading-innovation/">
                            <img class="post-image u-object-fit" src="/content/images/size/w960/2024/01/innovation-in-trading-1-2.png" alt="Embracing innovation in trading: Looking back on 2023">
                    </a>
                </div>
                </figure>

                <header class="post-header">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/trading-innovation/">Embracing innovation in trading: Looking back on 2023</a>
                    </h2>
                </header>

                    <a class="post-tag tag-tech-learning" href="/tag/tech-learning/" title="Tech Learning">Tech Learning</a>

            </article> -->
        </div>

    </section>

    <div class="topic-feed">

            <section class="topic">
                <header class="topic-header">
                    <h2 class="topic-name">
                        <a href="/tag/spotlight/">Spotlight</a>
                    </h2>
                </header>
                    <ul class="topic-article-feed">
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/derivs-fintech-culture/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Deriv’s Fintech Culture and Innovation
                                </a>
                            </h3>
                        </li>
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/raunak-kathuria-fintech-career-path/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Raunak Kathuria on the fintech career path at Deriv
                                </a>
                            </h3>
                        </li>
                    </ul>
                <!-- <a class="topic-more" href="/tag/spotlight/">Show more →</a> -->
            </section>
            <section class="topic">
                <header class="topic-header">
                    <h2 class="topic-name">
                        <a href="/tag/tech-events/">Tech Events</a>
                    </h2>
                </header>
                    <ul class="topic-article-feed">
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/deriv-shines-at-taylor-university-imagine-hack-2024/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Taylor&#x27;s University Imagine Hack Event
                                </a>
                            </h3>
                        </li>
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/uk-tech-talk-challenges-in-the-modern-tech-landscape/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> UK tech talk: Navigating challenges in modern software development
                                </a>
                            </h3>
                        </li>
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/deriv-hosts-flutter-event-for-dev-community/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Deriv champions community-building futter event in the UAE
                                </a>
                            </h3>
                        </li>
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/deriv-hosts-37th-aws-meetup-in-uae/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Deriv Dubai hosts the 37th AWS user group meetup
                                </a>
                            </h3>
                        </li>
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/deriv-attends-the-accu-developer-conference/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Deriv in the ACCU Developer Conference
                                </a>
                            </h3>
                        </li>
                    </ul>
                <!-- <a class="topic-more" href="/tag/tech-events/">Show more →</a> -->
            </section>
            <section class="topic">
                <header class="topic-header">
                    <h2 class="topic-name">
                        <a href="/tag/tech-learning/">Tech Learning</a>
                    </h2>
                </header>
                    <ul class="topic-article-feed">
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/quill-the-building-blocks-of-derivs-ux-and-ui-design/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Quill: The building blocks of Deriv’s seamless UX and UI design
                                </a>
                            </h3>
                        </li>
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/about-chrome-extension-service-workers/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> The secret life of Chrome extension service-workers
                                </a>
                            </h3>
                        </li>
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/cloud-protection-from-dangling-ip-takeovers/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Cloud protection strategies against dangling IP takeovers
                                </a>
                            </h3>
                        </li>
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/using-kubernetes-on-aws/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Cloud-agnostic Kubernetes on AWS: A strategic guide
                                </a>
                            </h3>
                        </li>
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/secret-scanning-in-source-code/">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor">
    <path d="M11.453 22.107L17.56 16l-6.107-6.12L13.333 8l8 8-8 8-1.88-1.893z"></path>
</svg> Improving secret scanning in source code management systems
                                </a>
                            </h3>
                        </li>
                    </ul>
                <!-- <a class="topic-more" href="/tag/tech-learning/">Show more →</a> -->
            </section>

    </div>

</main>
</div>
    </div>

    <footer class="gh-foot gh-outer">
        <div class="gh-foot-inner gh-inner">
            <div class="gh-copyright">
                Tech Innovations from Our Experts | Deriv Tech blog © 2024
            </div>
                <nav class="gh-foot-menu">
                    <ul class="nav">
    <li class="nav-linkedin"><a href="https://www.linkedin.com/showcase/techbyderiv/">LinkedIn</a></li>
    <li class="nav-github"><a href="https://github.com/deriv-com">GitHub</a></li>
    <li class="nav-deriv"><a href="https://deriv.com">Deriv</a></li>
</ul>

                </nav>
            <div class="gh-powered-by">
            </div>
        </div>
    </footer>

</div>


<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script src="https://tech.deriv.com/assets/built/main.min.js?v=f3d05890e7"></script>

<style type='text/css'>
    /* Hide the Membership aka Subscribe actions etc. */
    .cover-content .cover-form { display: none; }
    .header-actions .members-login { display: none; }
    .site-footer .copyright { display: none; }
    .footer-nav .menu-item a[href="https://ghost.org/"] { display: none; }
    .footer-social a.footer-social-item.footer-social-item-rss { display: none; }
</style>

</body>
</html>
